/assignment hw
/Bug Report Form
/day 1
/Day 2
/day 3
/day 4
/day 5
/form
/Gemini_Generated_Image_xgyeaexgyeaexgye.png
/Gemini_Generated_Image_yegp0lyegp0lyegp.png
/Git-2.54.0-64-bit.exe
/GitHubDesktopSetup-x64.exe
/hw day2
/portfolio
/project 2
/project5
/Quadratic_Equations_Mains_&_Advanced.pdf
/screencapture-file-C-Users-Admin-Downloads-Myntra-index-html-2026-06-22-15_38_40.png
/script.js
/set 3
/Swimming Guidelines.pdf
/WhatsApp Image 2026-06-13 at 9.34.11 PM (1).jpeg
/WhatsApp Image 2026-06-13 at 9.34.11 PM.jpeg
/WhatsApp Image 2026-06-13 at 9.34.12 PM (1).jpeg
/WhatsApp Image 2026-06-13 at 9.34.12 PM.jpeg
/WhatsApp Image 2026-06-13 at 9.34.13 PM (1).jpeg
/WhatsApp Image 2026-06-13 at 9.34.13 PM.jpeg
/WhatsApp Image 2026-06-13 at 9.34.14 PM (1).jpeg
/WhatsApp Image 2026-06-13 at 9.34.14 PM.jpeg
/WhatsApp Image 2026-06-16 at 9.10.13 AM.jpeg
/WhatsApp Image 2026-06-16 at 9.10.14 AM.jpeg
/WhatsApp Image 2026-06-16 at 9.34.40 AM.jpeg
/WhatsApp Image 2026-06-16 at 9.34.41 AM (1).jpeg
/WhatsApp Image 2026-06-16 at 9.34.41 AM.jpeg
/WhatsApp Installer (1).exe